.logo {
  width: 50px;
  height: 50px;
}
.navbarTheme {
  background-color: #00308f;
}
.navlinkTheme {
  color: white !important;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  /* background-color: #00308f; */
}
.headerText {
  color: #00308f;
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: 1.5px;
}
.formWrapper {
  margin: 0 20% 0 20%;
}
